node_modules

test
cypress/**
cypress.env.json

coverage/**
.nyc_output
instrumented/**

mochawesome-report/**
mochawesome.json
mocha-multi-reporters.json
db/**
.ncurc.js
node-login.json
node-login.js
nodemon.json
tools
.idea
