node_modules

test
cypress/**
cypress.env.json
cypress.json

coverage/**
.nyc_output
instrumented/**

mochawesome-report/**
mochawesome.json
mocha-multi-reporters.json
db/**
.ncurc.js
nogin.json
nogin.js
nodemon.json
tools
.idea
