
// preset form values if we receive a userdata object
-var user = typeof udata !== 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field
input#userId(type='hidden' value=user._id)

#account-form-container.center-vertical(role='form')
	form.card.card-body.bg-light#account-form(method='post')
		.heading2
		.heading6#sub _(PleaseTellAboutYourself)
		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm(for='name-tf') _(Name)
			.col-sm-9
				input.form-control#name-tf(type='text' name='name' value= user.name)

		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm(for='email-tf') _(Email)
			.col-sm-9
				input.form-control#email-tf(type='email' name='email' value= user.email)

		.form-group.row.margin-zero
			label.col-sm-3.col-form-label.col-form-label-sm _(Location)
			.col-sm-9
				select.custom-select#country-list(name='country')
					each item in countries
						option(selected=item.name == user.country)=item.name
		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm(for='user-tf') _(Username)
			.col-sm-9
				input.form-control.disabled#user-tf(
					type='text' name='user' value= user.user
				)

		.form-group.row.margin-zero
			label.col-sm-3.col-form-label.col-form-label-sm(for='pass-tf') _(Password)
			.col-sm-9
				input.form-control#pass-tf(type='password' name='pass' value='')

		hr
		.form-buttons
			button#account-form-btn1.btn.btn-outline-dark(type='button')
			button#account-form-btn2.btn.btn-primary(type='submit')

// display form errors in a custom modal window

include modals/form-errors.pug
