
extends layout.pug

block content
	nav.navbar.navbar-expand.navbar-light.bg-light(role='navigation')
		.nav-item
			.navbar-brand _(ControlPanel)
		.navbar-nav.ml-auto
			.nav-item
				button.btn.navbar-btn.btn-outline-dark#btn-logout _(SignOut)

	include account.pug
	include modals/alert.pug
	include modals/confirm.pug

block scripts
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')
