
extends layout.pug

block content
	#login.center-vertical(role='main')
		form.card.card-body.bg-light(method='post')
			.heading2 Hello!
			.heading6 Please Login To Your Account
			.form-group
				label(for='user-tf') Username
				input.form-control(type='text' id='user-tf' name='user')
			.form-group
				label(for='pass-tf') Password
				input.form-control(type='password' id='pass-tf' name='pass')
			#row1
				button#btn_remember.btn.btn-light.btn-left(type='button')
					span.fa.fa-check-square
					| Remember Me
				button#btn_sign_in.btn.btn-primary(type='submit')
					span.fa.fa-lock
					| Sign In
			hr
			.btm-links
				#forgot-password
					a(href='#') Forgot Your Password?
				#create-account
					a(href='/signup') Create An Account

	include modals/alert.pug
	include modals/lost-password.pug

block scripts
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')
