
extends layout.pug

block content
	#login.center-vertical(role='main')
		form.card.card-body.bg-light(method='post')
			.heading2 _(Hello)
			.heading6 _(PleaseLoginToYourAccount)
			.form-group
				label(for='user-tf') _(Username)
				input.form-control(type='text' id='user-tf' name='user')
			.form-group
				label(for='pass-tf') _(Password)
				input.form-control(type='password' id='pass-tf' name='pass')
			#row1
				button#btn_remember.btn.btn-light.btn-left(type='button')
					span.fa.fa-check-square
					| _(RememberMe)
				button#btn_sign_in.btn.btn-primary(type='submit')
					span.fa.fa-lock
					| _(SignIn)
			hr
			.btm-links
				#forgot-password
					a(href='#') _(ForgotYourPassword)
				#create-account
					a(href='/signup') _(CreateAnAccount)

	include modals/alert.pug
	include modals/lost-password.pug

block scripts
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')
