
extends layout.pug

block content

	include account.pug
	include modals/alert.pug

block scripts
	script(src='/js/views/signup.js')
	script(src='/js/controllers/signupController.js')
	script(src='/js/form-validators/accountValidator.js')
