
.modal-confirm.modal.fade
	.modal-dialog(role='dialog')
		.modal-content
			.modal-header
				h1.modal-title
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				p
			.modal-footer
				button.cancel.btn.btn-outline-dark(data-dismiss='modal') _(Cancel)
				button.submit.btn.btn-primary _(Ok)
