
.modal-form-errors.modal.fade
	.modal-dialog(role='dialog')
		.modal-content
			.modal-header
				h1.modal-title _(Whoops)
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				| _(LooksLikeProblem)
				ul
			.modal-footer
				button.btn.btn-primary(data-dismiss='modal') _(OK)
