
.modal-form-errors.modal.fade
	.modal-dialog(role='dialog')
		.modal-content
			.modal-header
				h1.modal-title Whoops!
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				| It looks like there was a problem.
				ul
			.modal-footer
				button.btn.btn-primary(data-dismiss='modal') OK
