
#get-credentials.modal.fade
	.modal-dialog(role='dialog')
		.modal-content
			.modal-header
				h1.modal-title _(RetrievePassword)
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				form#get-credentials-form(method='post')
					.form-group
						label(for='email-tf') _(PleaseEnterEmail)
						input.form-control.required(type='email' id='email-tf' name='email')
						.alert.alert-danger.hide
			.modal-footer
				button#cancel.btn.btn-outline-dark(data-dismiss='modal') _(Cancel)
				button#retrieve-password-submit.btn.btn-primary(type='submit') _(Submit)
