
#set-password.modal(role='main')
	.modal-dialog(role='dialog')
		.modal-content
			.modal-header
				h1.modal-title _(ResetPassword)
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') _(ACloseButton)
			.modal-body
				form#set-password-form(method='post')
					.form-group
						label(for='pass-tf') _(PleaseEnterNewPassword)
						input.form-control.required(type='password' name='pass' id='pass-tf')
						.alert.alert-danger.hide
			.modal-footer
				button#set-password-submit.btn.btn-primary(
					type='submit'
					form='set-password-form'
				) _(Submit)
